<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add bills</title>
</head>
<body>
<form action="addBills.html" method="post">
    <p>
        <label>用户名：</label>
        <input name="username" type="text" />
    </p>
    <p>
        <label>时间：</label>
        <input name="time" type="text" />
    </p>
    <p>
        <label>金额：</label>
        <input name="money" type="text" />
    </p>
    <p>
        <label>类型：</label>
        <input name="type" type="text" />
    </p>
    <p>
        <label>备注：</label>
        <input name="remark" type="text" />
    </p>
    <p>
        <label>心情：</label>
        <input name="remark" type="text" />
        <input type="submit" value="提交">
    </p>
</form>
</body>
</html>