<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update bills</title>
</head>
<body>
<form action="updateBills.html" method="post">
    <p>
        <label>时间：</label>
        <input name="time" type="text" />
    </p>
    <p>
        <label>金额：</label>
        <input name="money" type="text" />
    </p>
    <p>
        <label>类型：</label>
        <input name="type" type="text" />
    </p>
    <p>
        <label>order：</label>
        <input name="order" type="text" />
    </p>
    <p>
        <label>新金额：</label>
        <input name="new_money" type="text" />
    </p>
    <p>
        <label>新类型：</label>
        <input name="new_type" type="text" />
    </p>
    <p>
        <label>新备注：</label>
        <input name="new_remark" type="text" />
        <input type="submit" value="提交">
    </p>
</form>
</body>
</html>